{% block calendar %}
    <p class="text-center border-top border-dark-subtle py-1 mb-0">カテゴリー</p>
    <div class="text-center align-items-center border-top border-dark-subtle">
        <h5 class="border-bottom border-dark-subtle py-2 mb-0">筆記試験</h5>
        <h6 class="border-bottom border-dark-subtle py-2">年度別</h6>
    </div>
    <h6>航海</h6>
    <ul class="list-unstyled">
        <li><a class="category-item" href={% url 'kakomon:list_exam' "筆記" "航海" "1級" %}>航 海  1級</a></li>
        <li><a class="category-item" href={% url 'kakomon:list_exam' "筆記" "航海" "2級" %}>航 海  2級</a></li>
        <li><a class="category-item" href={% url 'kakomon:list_exam' "筆記" "航海" "3級" %}>航 海  3級</a></li>
    </ul>
    <h6>機関</h6>
    <ul class="list-unstyled">
        <li><a class="category-item" href={% url 'kakomon:list_exam' "筆記" "機関" "1級" %}>機 関  1級</a></li>
        <li><a class="category-item" href={% url 'kakomon:list_exam' "筆記" "機関" "2級" %}>機 関  2級</a></li>
        <li><a class="category-item" href={% url 'kakomon:list_exam' "筆記" "機関" "3級" %}>機 関  3級</a></li>
    </ul>
{% endblock %}